#main_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#stoperica{
    width: 80%;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.457);
    backdrop-filter: blur(5px);
}
